services:
  website:
    # To build and debug locally, use the following and uncomment the `image` line below.
    # build:
    #   dockerfile: Dockerfile
    # pull_policy: build
    image: ghcr.io/wision-lab/spcwebsite:sha256-33f1dec264fceeac03f904444e9282fe2f6da300cf57d159b1d0aa7f786832d3
    ports:
      - 8000:80
    volumes:
      - storage:/storage
    environment:
      # Vars that point to paths are used to mount volumes 
      # and replaced with defaults inside the container
      - SPC_DEBUG=${SPC_DEBUG} 
      - SPC_UPLOADS_ENABLED=${SPC_UPLOADS_ENABLED}
      - SPC_FROMEMAIL=${SPC_FROMEMAIL}
      - RESEND_API_KEY=${RESEND_API_KEY}
      - SPC_SECRET_KEY=${SPC_SECRET_KEY}
      - SPC_NUM_THREADS=${SPC_NUM_THREADS}

volumes:
  storage: