services:
  website:
    # To build and debug locally, use the following and uncomment the `image` line below.
    # and expose to a non-privileged port, eg: `8000:80`
    # build:
    #   dockerfile: Dockerfile
    # pull_policy: build
    # To use a specific build replace the ':sha256-' with '@sha256:', eg:
    # image: ghcr.io/wision-lab/spcwebsite@sha256:e334fbec04f917cecbe26dad0a9a7b61d1e93becdaa1db24c092d19e74102173
    image: ghcr.io/wision-lab/spcwebsite:main
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
    volumes:
      - storage:/storage
      - data:/data/caddy
      - config:/config/caddy
    labels:
      - docker-volume-backup.archive-pre=/bin/bash -c 'echo "ok"'
      - docker-volume-backup.exec-label=database
    environment:
      # Vars that point to paths are used to mount volumes 
      # and replaced with defaults inside the container
      - SPC_DEBUG=${SPC_DEBUG} 
      - SPC_UPLOADS_ENABLED=${SPC_UPLOADS_ENABLED}
      - SPC_FROMEMAIL=${SPC_FROMEMAIL}
      - RESEND_API_KEY=${RESEND_API_KEY}
      - SPC_SECRET_KEY=${SPC_SECRET_KEY}
      - SPC_NUM_THREADS=${SPC_NUM_THREADS}
      # Persist caddy data into a volume to avoid getting rate-limited when 
      # creating certs. See: https://caddyserver.com/docs/conventions#file-locations
      - XDG_CONFIG_HOME=/config 
      - XDG_DATA_HOME=/data

  backup:
    image: offen/docker-volume-backup:v2
    user: 1000:1000
    environment:
      - AWS_S3_BUCKET_NAME=challenge-backups
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_ENDPOINT=${AWS_ENDPOINT}
      - BACKUP_PRUNING_PREFIX=spcbackup-
      - BACKUP_FILENAME=spcbackup-%Y-%m-%dT%H-%M-%S.tar.gz
      - BACKUP_EXCLUDE_REGEXP=.*\.cache\/.* 
      - BACKUP_RETENTION_DAYS=7
      - EXEC_FORWARD_OUTPUT=true
      - EXEC_LABEL=database
    volumes:
      - storage:/backup:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro

volumes:
  storage:
  data:
  config:
