services:
  website:
    # build:
    #   dockerfile: Dockerfile
    # pull_policy: build
    image: debian:bookworm-slim
    ports:
      - 8000:80
    volumes:
      - storage:/storage
    environment:
      # Vars that point to paths are used to mount volumes 
      # and replaced with defaults inside the container
      - SPC_DEBUG=${SPC_DEBUG} 
      - SPC_UPLOADS_ENABLED=${SPC_UPLOADS_ENABLED}
      - SPC_FROMEMAIL=${SPC_FROMEMAIL}
      - RESEND_API_KEY=${RESEND_API_KEY}
      - SPC_SECRET_KEY=${SPC_SECRET_KEY}
      - SPC_NUM_THREADS=${SPC_NUM_THREADS}

volumes:
  storage: