{% extends "base.html" %}

{% block content %}
    {% if validlink %}
        <p>Please enter (and confirm) your new password.</p>
        <form action="" method="post">
        {% csrf_token %}
        <style>
            #id_new_password1_helptext {
                display: none;
            }
        </style>
        <table class="noborder">
            {% csrf_token %}
            {{ form.as_table }}
        </table>
        <input type="submit" value="Change my password">
        </form>
    {% else %}
        <h2>Password reset failed</h2>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}