:80, 
:443

handle_path /static/* {
    root * /app/staticfiles
    file_server {
        precompressed gzip br
    }
    header Cache-Control "public, max-age=31536000, immutable"
}

handle_path /media/* {
    # Before serving the media file, go forward the request to django 
    # to check for authorization (at endpoint /auth/check), if we receive 
    # a status==200 we proceed, else serve what django responds. 
    forward_auth localhost:8000 {
        uri /auth/check{uri}
    }

    root * /storage/media
    file_server
    header Cache-Control "public, max-age=86400"
}

reverse_proxy localhost:8000
