<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}
    <title>The Single Photon Challenge</title>
    {% endblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icon.png' %}">
    <meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#212121" media="(prefers-color-scheme: dark)">
    <!-- Open Graph Protocol tags to enable site preview when sharing -->
    <meta property="og:title" content="The Single Photon Challenge" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://singlephotonchallenge.com/" />
    <meta property="og:image" content="https://singlephotonchallenge.com/static/website-logo.png" />
    <meta property="og:logo" content="https://singlephotonchallenge.com/static/website-logo.png" />
    <meta property="og:description" content="Announcing the Single-Photon Challenge -- a first-of-its-kind competition for a fundamental problem in modern imaging: Reconstructing high-quality images from noisy, single-photon data." />
</head>

<body>
    <header>
        <div style="max-width:800px;margin-left: auto; margin-right: auto;margin-top:10px;margin-bottom:0">
            <a href="{% url 'index' %}">
                <picture>
                    <source srcset="{% static 'website-logo.png' %}" media="(prefers-color-scheme: dark)">
                    <img width="100%" height="156px" max-width="600px" src="{% static 'website-logo.png' %}"
                        alt="Single Photon Challenge">
                </picture>
            </a>
            <p style="margin-top:0.5rem;margin-bottom:0.5rem;">
                <i>
                    Sacha Jungerman<sup><small>1</small></sup>, 
                    Atul Ingle<sup><small>2</small></sup>, 
                    Sotiris Nousias<sup><small>3</small></sup>, 
                    Mian Wei<sup><small>4</small></sup>, 
                    Mel White<sup><small>5</small></sup>, 
                    Mohit Gupta<sup><small>1</small></sup>
                </i>
            </p>
            <p style="margin-top:0.5rem;margin-bottom:0.5rem;">
                <i>
                    <sup><small>1</small></sup>University of Wisconsin - Madison,
                    <sup><small>2</small></sup>Portland State University, 
                    <sup><small>3</small></sup>Purdue University, 
                    </br>
                    <sup><small>4</small></sup>Carnegie Mellon University, 
                    <sup><small>5</small></sup>US Naval Research Lab
                </i>
            </p>
        </div>
        <nav>
            <a href="{% url 'download' %}" {% if request.resolver_match.view_name == "download" %}class="current"{% endif %}>Download</a>
            <a href="{% url 'competition' %}" {% if request.resolver_match.view_name == "competition" %}class="current"{% endif %}>Competition</a>
            <a href="{% url 'eval:reconstruction' %}" {% if request.resolver_match.view_name == "eval:reconstruction" %}class="current"{% endif %}>Reconstruction</a>
            <a href="{% url 'eval:submit' %}" {% if request.resolver_match.view_name == "eval:submit" %}class="current"{% endif %}>Submit</a>            
            <a href="https://visionsim.readthedocs.io/en/latest/">VisionSIM Toolkit</a>
            <a href="{% url 'faq' %}" {% if request.resolver_match.view_name == "faq" %}class="current"{% endif %}>FAQ</a>
        </nav>
        <div style="float:left; text-align: center;">
            {% if user.is_superuser %}
            <a href="{% url 'admin:index' %}">Admin Panel</a> | 
            {% endif %}
            {% if user.is_authenticated %}
            <a href="{% url 'core:password_change' %}">Change Password</a>
            {% endif %}
        </div>
        <div style="float:right; text-align: center;">
            {% if user.is_authenticated %}
            <a href="{% url 'core:user' %}">{{ user.get_username }}</a> | 
            <form method="post" action="{% url 'core:logout'%}" class="inline">
                {% csrf_token %}
                <button type="submit" class="link-button">Logout</button>
            </form>
            {% else %}
            Not logged in | <a href="{% url 'core:login'%}">Login</a> | <a href="{% url 'core:signup'%}">Create
                Account</a>
            {% endif %}
        </div>
    </header>

    <div style="width: 80%; margin: auto;">
        {% block content %}
        {% endblock %}
    </div>

    <div style="flex-grow: 1;"></div>
    <footer>
        <table class="logotable" style="max-width: 1000px;">
            <tr>
                <td style="width:15%;text-align:center" class="noborder"><a href="https://www.wisc.edu/" target="_blank"
                        rel="noopener noreferrer"><img width="90%" src="{% static 'uw-logo.png' %}"
                            alt="Logo of University of Wisconsin - Madison"></a></td>
                <td style="width:15%;text-align:center" class="noborder"><a href="https://cvspc.cs.pdx.edu/"
                        target="_blank" rel="noopener noreferrer"><img width="90%" src="{% static 'ICCV-2025.png' %}"
                            alt="Logo of ICCV 2025"></a></td>
                <td style="width:15%;text-align:center" class="noborder"><a href="https://wisionlab.com/"
                        target="_blank" rel="noopener noreferrer"><img width="90%"
                            src="{% static 'wisionlab-logo.png' %}" alt="Logo of WISION Lab"></a></td>
            </tr>
        </table>
        <table class="logotable" style="margin-top: -1.5rem; width: 40%; max-width: 700px;">
            <tr>
                <td style="width:10%;text-align:center" class="noborder">
                    <a href="https://www.ubicept.com" target="_blank" rel="noopener noreferrer">
                        <picture>
                            <source srcset="{% static 'ubicept_logo_dark.png' %}" media="(prefers-color-scheme: dark)">
                            <img style="width:90%;" src="{% static 'ubicept_logo_light.png' %}" alt="Ubicept">
                        </picture>
                    </a>
                </td>
                <td style="width:10%;text-align:center" class="noborder">
                    <a href="https://singularphotonics.com/" target="_blank" rel="noopener noreferrer">
                        <picture>
                            <source srcset="{% static 'Singular-Photonics-Logo-dark.webp' %}" media="(prefers-color-scheme: dark)">
                            <img style="width:90%;" src="{% static 'Singular-Photonics-Logo-light.webp' %}" alt="Singular Photonics">
                        </picture>
                    </a>
                </td>
            </tr>
        </table>
    </footer>
</body>

</html>