<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}
    <title>The Spring Dataset &amp; Benchmark</title>
    {% endblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'icons/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'icons/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#212121" media="(prefers-color-scheme: dark)">
</head>

<body>
    <header>
        <div style="max-width:800px;margin-left: auto; margin-right: auto;margin-top:10px;margin-bottom:0">
            <a href="{% url 'index' %}">
                <picture>
                    <source srcset="{% static 'website-logo.svg' %}" media="(prefers-color-scheme: dark)">
                    <img width="100%" height="156px" max-width="600px" src="{% static 'website-logo.svg' %}"
                        alt="Single Photon Competition and Benchmark Logo">
                </picture>
            </a>
            <p style="margin-top:0.5rem;margin-bottom:0.5rem;"><i>Sacha Jungerman<sup>1</sup>, Atul Ingle<sup>2</sup>, Sotiris
                    Nousias<sup>3</sup>, Mian Wei<sup>4</sup>, Mel White<sup>5</sup>, Mohit Gupta<sup>1</sup></i></p>
            <p style="margin-top:0.5rem;margin-bottom:0.5rem;"><i><sup>1</sup>University of Wisconsin - Madison,
                    <sup>2</sup>Portland State University, <sup>3</sup>Purdue University, </br><sup>4</sup>University of
                    Toronto, <sup>5</sup>US Naval Research Lab</i></p>
        </div>
        <nav>
            {% if request.path == "/download" %}
            <a href="{% url 'download' %}" class="current">Download</a>
            {% else %}
            <a href="{% url 'download' %}">Download</a>
            {% endif %}
            {% if request.path == "/eval/submit" %}
            <a href="{% url 'eval:submit' %}" class="current">Submit</a>
            {% else %}
            <a href="{% url 'eval:submit' %}">Submit</a>
            {% endif %}
            <a href="https://visionsim.readthedocs.io/en/latest/">VisionSIM Toolkit</a>
            {% if request.path == "/faq" %}
            <a href="{% url 'faq' %}" class="current">FAQ</a>
            {% else %}
            <a href="{% url 'faq' %}">FAQ</a>
            {% endif %}
        </nav>
        <div style="float:left; text-align: center;">
            {% if user.is_superuser %}
            <a href="{% url 'admin:index' %}">Admin Panel</a> | 
            {% endif %}
            {% if user.is_authenticated %}
            <a href="{% url 'core:password_change' %}">Change Password</a>
            {% endif %}
        </div>
        <div style="float:right; text-align: center;">
            {% if user.is_authenticated %}
            <a href="{% url 'core:user' %}">{{ user.get_username }}</a> | 
            <form method="post" action="{% url 'core:logout'%}" class="inline">
                {% csrf_token %}
                <button type="submit" class="link-button">Logout</button>
            </form>
            {% else %}
            Not logged in | <a href="{% url 'core:login'%}">Login</a> | <a href="{% url 'core:signup'%}">Create
                Account</a>
            {% endif %}
        </div>
    </header>

    <div style="width: 80%; margin: auto;">
        {% block content %}
        {% endblock %}
    </div>

    <div style="flex-grow: 1;"></div>
    <footer>
        <!-- <p>Lukas Mehl, Jenny Schmalfuss, Azin Jahedi, Yaroslava Nalivayko, Andrés Bruhn:</br>"<a href="https://arxiv.org/abs/2303.01943" target="_blank" rel="noopener noreferrer">Spring: A High-Resolution High-Detail Dataset and Benchmark for Scene Flow, Optical Flow and Stereo</a>".</br>In IEEE/CVF Conference on Computer Vision and Pattern Recognition (CVPR), 2023.</p> -->
        <table class="logotable">
            <tr>
                <td style="width:15%;text-align:center" class="noborder"><a href="https://www.wisc.edu/" target="_blank"
                        rel="noopener noreferrer">
                        <picture>
                            <img width="95%" src="{% static 'uw-logo.png' %}"
                                alt="Logo of University of Wisconsin - Madison">
                        </picture>
                    </a></td>
                <td style="width:15%;text-align:center" class="noborder"><a href="https://cvspc.cs.pdx.edu/"
                        target="_blank" rel="noopener noreferrer"><img width="95%" src="{% static 'ICCV-2025.png' %}"
                            alt="Logo of SFB TRR 161"></a></td>
                <td style="width:20%;text-align:center" class="noborder"><a href="https://wisionlab.com/"
                        target="_blank" rel="noopener noreferrer"><img width="95%"
                            src="{% static 'wisionlab-logo.png' %}" alt="Logo of IMPRS-IS"></a></td>
            </tr>
        </table>
        <!-- <p>The <a href="https://cloud.blender.org/spring" target="_blank" rel="noopener noreferrer">Spring movie
                assets</a> by Blender Foundation are licensed under <a
                href="https://creativecommons.org/licenses/by/4.0/deed" target="_blank" rel="noopener noreferrer">CC BY
                4.0</a>. The authors thank Andy Goralczyk, Francesco Siddi and the whole Blender Studio team. Lukas Mehl
            acknowledges funding by the Deutsche Forschungsgemeinschaft (DFG, German Research Foundation) &ndash;
            Project-ID 251654672 &ndash; <a href="https://www.sfbtrr161.de" target="_blank"
                rel="noopener noreferrer">TRR 161: Quantitative Methods for Visual Computing</a> (B04). Jenny Schmalfuss
            and Azin Jahedi acknowledge support from the International Max Planck Research School for Intelligent
            Systems (IMPRS-IS).</p>
        <p><a href="https://www.vis.uni-stuttgart.de/en/team/Bruhn-00001/" target="_blank"
                rel="noopener noreferrer">Contact</a> | <a href="https://www.uni-stuttgart.de/en/legal-notice/"
                target="_blank" rel="noopener noreferrer">Imprint</a> | <a
                href="https://www.uni-stuttgart.de/en/privacy-notice/" target="_blank"
                rel="noopener noreferrer">Privacy</a></p> -->
    </footer>
</body>

</html>