{% extends "base.html" %}

{% block content %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/stackoverflow-dark.min.css"
    media="(prefers-color-scheme: dark)" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/stackoverflow-light.min.css"
    media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

<h3>Reconstruction Dataset</h3>

<p>
    The reconstruction dataset (~425G training set + ~42G test set, ~133G and ~13G compressed respectively) consists of photoncube/image pairs from 50 unique simulated scenes, plus another 5 scenes for the test set (for which ground truths are not made public). There is no separate validation set, but you can set aside some of the training set for this purpose as needed. Each photoncube consists of 1024 bitplanes, and the associated ground truth reconstruction corresponds to the last bitplane. You can directly download portions of this dataset using the links at the bottom of this page, or use the aws cli to download the entire dataset as described in the next section. Finally, a sample of the dataset, containing one photoncube/image pair per scene, is available for <a href="https://web.s3.wisc.edu/public-datasets/challenges/samples/reconstruction.zip">download here</a>.
</p>
</br>
<p>
    The full dataset is hosted on a publicly accessible S3 bucket and compressed into ~8.5GB chunks. To download it,
    you'll need to use the <a
        href="https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-getting-started.html">aws-cli</a>, and an
    LZMA-capable unzipping utility such as the <a href="https://packages.debian.org/sid/p7zip-full">7zip cli</a> to
    extract each zip file into its respective directory.

    Once installed, you can list out the dataset's components using:
<pre
    style="padding: 0;"><code class="language-bash">$ aws s3 ls --summarize --human-readable --recursive s3://public-datasets/challenges/reconstruction --endpoint=https://web.s3.wisc.edu --no-sign-request</code></pre>
</p>
</br>
<p>
    To download all the dataset archives to a predefined <span class="inline-code">$DOWNLOAD_DIR</span> in one shot, you
    can use the following command:
<pre
    style="padding: 0;"><code class="language-bash">$ aws s3 sync s3://public-datasets/challenges/reconstruction $DOWNLOAD_DIR --endpoint=https://web.s3.wisc.edu --no-sign-request</code></pre>

    If you wish to only download the test set, you can do so by appending <span class="inline-code">--exclude="*" --include="test*.zip"</span> to the above command.

You then need to extract all zips into their respective directories, which can be done with the following command in
bash:
<pre
    style="padding: 0;"><code class="language-bash">$ for zip in $(find $DOWNLOAD_DIR -type f -name "*.zip"); do 7z x $zip -o$(dirname $zip) && rm -f $zip; done</code></pre>
</p>
</br>
<p>
    You can also directly download the dataset chunks through HTTPS using the following links, although this might be slower:
 
    <details name="datasets">
        <summary>Test Set (5 files)</summary>
        <div class="download-link-grid">
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/test_0.zip">test_0.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/test_1.zip">test_1.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/test_2.zip">test_2.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/test_3.zip">test_3.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/test_4.zip">test_4.zip</a>
        </div>
    </details>
    <details name="datasets">
        <summary>Training Set (50 files)</summary>
        <div class="download-link-grid">
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_0.zip">train_0.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_1.zip">train_1.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_2.zip">train_2.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_3.zip">train_3.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_4.zip">train_4.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_5.zip">train_5.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_6.zip">train_6.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_7.zip">train_7.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_8.zip">train_8.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_9.zip">train_9.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_10.zip">train_10.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_11.zip">train_11.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_12.zip">train_12.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_13.zip">train_13.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_14.zip">train_14.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_15.zip">train_15.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_16.zip">train_16.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_17.zip">train_17.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_18.zip">train_18.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_19.zip">train_19.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_20.zip">train_20.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_21.zip">train_21.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_22.zip">train_22.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_23.zip">train_23.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_24.zip">train_24.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_25.zip">train_25.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_26.zip">train_26.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_27.zip">train_27.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_28.zip">train_28.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_29.zip">train_29.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_30.zip">train_30.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_31.zip">train_31.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_32.zip">train_32.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_33.zip">train_33.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_34.zip">train_34.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_35.zip">train_35.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_36.zip">train_36.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_37.zip">train_37.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_38.zip">train_38.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_39.zip">train_39.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_40.zip">train_40.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_41.zip">train_41.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_42.zip">train_42.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_43.zip">train_43.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_44.zip">train_44.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_45.zip">train_45.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_46.zip">train_46.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_47.zip">train_47.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_48.zip">train_48.zip</a>
            <a href="https://web.s3.wisc.edu/public-datasets/challenges/reconstruction/train_49.zip">train_49.zip</a>
        </div>
    </details>
</p>
</br>
<p>
    For more single photon datasets, including real captures, <a href="https://github.com/wision-lab/datasets/">see here</a>.
</p>

{% endblock %}