{% extends "base.html" %}

{% block content %}
{% load static %}

<p>
    Welcome to the Single Photon Challenge website! Here you'll find large synthetic <a href="{% url 'download' %}">single photon datasets</a> that consists of bursts of single photon camera images and their corresponding ground truth reconstructions. There is also a <a href="{% url 'eval:reconstruction' %}">public leaderboard</a> showcasing various user submitted reconstructions for this benchmark. You can <a href="{% url 'eval:compare' %}">directly compare</a> submissions as well!    
</p>
</br>

<div class="teaserimg" style="margin-top:1em;">
    <figure>
        <picture>
            <source srcset="{% static 'teaserimage-dark.png' %}" media="(prefers-color-scheme: dark)">
            <img width="95%" src="{% static 'teaserimage-light.png' %}" alt="Teaser image">
        </picture>
        <figcaption>
            Single photon cameras are capable of detecting individual photons, making them extremely sensitive and high speed camera. However, each image they capture is extremely noisy and binary valued, being dominated by photon shot noise. Given a burst of such binary frames, how can we recover a clean, high fidelity image?   
        </figcaption>
    </figure>
</div>

<h3>News</h3>
<ul>
    <li>October 10, 2025: The dataset is now available <a href="{% url 'download' %}">here</a>! Check out the <a href="{% url 'faq' %}">FAQ</a> for instructions on how to submit.</li>
    <li>October 8, 2025: Hello world &ndash; this website is now live! The dataset is coming soon.</li>
</ul>

<h3>Paper</h3>
{% verbatim %}
<p>If you make use of our dataset or benchmark results, please cite:</p>
<pre><code>@software{Jungerman_visionsim_2025,
    author = {Jungerman, Sacha and Leblang, Max and Gupta, Shantanu and Sadekar, Kaustubh},
    license = {MIT},
    month = may,
    title = {{visionsim}},
    url = {https://github.com/WISION-Lab/visionsim},
    year = {2025}
}
</code></pre>
{% endverbatim %}

{% endblock %}