{% extends "base.html" %}

{% block content %}
<!-- <p>
  Welcome to the Spring and RobustSpring datasets and evaluation benchmark for stereo, optical flow, and scene flow estimation, including robustness evaluation under 20 realistic image corruptions!
</p> -->

{% load static %}

<div class="teaserimg" style="margin-top:1em;">
    <figure>
        <img width="95%" src="{% static 'teaserimage.png' %}" alt="Teaser image">
        <figcaption>
            jklbndcvkhjasdwbvkjqdvbnjkbnvqwodjeuikbvliu;jdrbweqvuiojkld na wer;piuo
        </figcaption>
    </figure>
</div>

<h3>News</h3>
<ul>
    <!-- <li>March 03, 2023: Hello world &ndash; our website is launched! We make a small sample available for download.</li> -->
</ul>

<h3>Paper</h3>
{% verbatim %}
<p>If you make use of our dataset or benchmark results, please cite:</p>
<pre><code>@software{Jungerman_visionsim_2025,
    author = {Jungerman, Sacha and Leblang, Max and Gupta, Shantanu and Sadekar, Kaustubh},
    license = {MIT},
    month = may,
    title = {{visionsim}},
    url = {https://github.com/WISION-Lab/visionsim},
    year = {2025}
}
</code></pre>
{% endverbatim %}

<!-- <h3>Further benchmarks</h3>
<p>There are many benchmarks that have been pushing forward research in the domains of motion estimation and stereo.
    Most notable examples are the <a href="https://vision.middlebury.edu/flow/" target="_blank"
        rel="noopener noreferrer">Middlebury optical flow</a> and <a href="https://vision.middlebury.edu/stereo/"
        target="_blank" rel="noopener noreferrer">stereo benchmark</a>, the <a
        href="https://www.cvlibs.net/datasets/kitti/eval_stereo_flow.php?benchmark=flow" target="_blank"
        rel="noopener noreferrer">KITTI 2012 optical flow</a> and <a
        href="https://www.cvlibs.net/datasets/kitti/eval_stereo_flow.php?benchmark=stereo" target="_blank"
        rel="noopener noreferrer">stereo benchmark</a>, the <a href="http://sintel.is.tue.mpg.de/" target="_blank"
        rel="noopener noreferrer">Sintel optical flow benchmark</a>, <a
        href="https://www.cvlibs.net/datasets/kitti/eval_scene_flow.php" target="_blank" rel="noopener noreferrer">KITTI
        2015</a> as the first benchmark for <a href="https://www.cvlibs.net/datasets/kitti/eval_scene_flow.php"
        target="_blank" rel="noopener noreferrer">scene flow</a>, <a
        href="https://www.cvlibs.net/datasets/kitti/eval_scene_flow.php?benchmark=flow" target="_blank"
        rel="noopener noreferrer">optical flow</a> and <a
        href="https://www.cvlibs.net/datasets/kitti/eval_scene_flow.php?benchmark=stereo" target="_blank"
        rel="noopener noreferrer">stereo</a>, the <a href="https://www.eth3d.net/" target="_blank"
        rel="noopener noreferrer">ETH3D stereo benchmark</a>, the <a href="http://hci-benchmark.iwr.uni-heidelberg.de/"
        target="_blank" rel="noopener noreferrer">HD1K benchmark</a>, and the <a
        href="https://playing-for-benchmarks.org/" target="_blank" rel="noopener noreferrer">VIPER optical flow
        benchmark</a>.
    As a great addition to existing benchmarks, the <a href="http://www.robustvision.net/" target="_blank"
        rel="noopener noreferrer">Robust Vision Challenge</a> ranks algorithms according to their cross-benchmark
    generalization.
</p> -->

{% endblock %}